.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title img {
    height: 35vh;
    width: 20vw;
    border-radius: 30px;
}

.title {
    justify-content: center;
}

